%h3 Return Amount
%p Enter an invoice number and the amount you will return from the invoice.

%form{:action => '/invoicing/return_amount'}
  %p
    = field "Invoice ID:", :invoice_no, :text, :size => 10
    *
  %p
    = field "Amount:", :amount, :text, :size => 6
    *
  %p
    = field "VAT:", :vat, :text, :size => 4, :value => '25,00'
    *
  %p
    = submit_button "Return"