%h3 Has Account?
%p Enter the personal number to check if any account exists for this customer/company.

%form{:action => '/useful/has_account'}
  %p
    = field "SSN:", :pno, :text, :size => 10
    *
  %p
    = submit_button "Query"