%h3 Invoice Amount
%p Enter the invoice number of an invoice you would like see the amount of.

%form{:action => '/special/invoice_amount'}
  %p
    = field "Invoice ID:", :invoice_id, :text, :size => 10
  %p
    = submit_button "Get"