%h3 E-mail Invoice
%p Enter invoice number of an active invoice you would like to email.

%form{:action => '/useful/email_invoice'}
  %p
    = field "Invoice ID:", :invoice_id, :text, :size => 10
    *
  %p
    = submit_button "Send"